<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ilustris.motiv.manager">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:name="com.ilustris.motiv.base.MotivApplication">
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Motiv.Manager.Theme" />
        <activity
            android:name=".ui.styles.NewStyleActivity"
            android:theme="@style/Motiv.Manager.Theme" />
        <activity
            android:name=".ManagerActivity"
            android:theme="@style/Motiv.Manager.Theme" />
    </application>

</manifest>