<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ilustris.motiv.manager">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.creat.motiv.MotivApplication"
        android:theme="@style/Motiv.Theme">
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Motiv.Theme.NoActionBar"></activity>
        <activity android:name=".ui.styles.NewStyleActivity" />
        <activity android:name=".ManagerActivity" />
    </application>

</manifest>